langchain
langchain_groq
faiss-cpu
tiktoken
langchain_community
langchain_openai
langchain_ollama
chromadb
pypdf
pymupdf
faiss-cpu
transformers
scikit-learn 
fitz
python-dotenv
pandas
python-docx
docx2txt
python-dotenv
langchain_experimental
langchain_groq
wikipedia
torch
frontend
tools
IProgress
tqdm

# Embeddings
langchain-huggingface
sentence-transformers
rank_bm25